# editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 2

[*.{kt,kts}]
indent_style = space
indent_size = 4
# max_line_length = 100
# Use official IntelliJ IDEA Kotlin code style
ktlint_code_style = intellij_idea
# Enforce no wildcard imports
ktlint_standard_no-wildcard-imports = enabled

# Enable trailing commas
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
