repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.12.4'
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.2
          - 'prettier-plugin-java@2.7.1'
          - 'prettier-plugin-toml@2.0.5'
          - '@prettier/plugin-xml@v3.4.2'
        files: .*\.(js|jsx|ts|tsx|css|json|md|mdx|markdown|toml|xml|yaml|yml)$
        stages: [pre-commit]
